<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style>
        body {
            text-align: center;
            background-color: #091f36;
            color:lightgray;
        }

        #outer {
            margin-top:20rem;
        }

        .hideThese {
            visibility: hidden;
            position: absolute;
        }

    </style>
</head>
<body>
    <div class="container" id="outer">
        <h1>Order History</h1>
        <div class="row">
            <div class="twelve columns">
                <table class="u-full-width">
                    <tr>
                        <th>Date</th>
                        <th>OrderID</th>
                        <th>Order Total</th>
                        <th>Food(s)</th>
                        <th>Food Quantity</th>
                    </tr>
                    <!--insert values with ejs-->
                    <% history.forEach((result)=>{ %>
                        <tr>
                            <td><%=String(result.date).split(' ')[0] + ' ' + String(result.date).split(' ')[1] + ' ' +
                            String(result.date).split(' ')[2] + ' ' + String(result.date).split(' ')[3]%></td>
                            <td><%=result.orderID%></td>
                            <td><%=result.orderTotal%></td>
                            <td><%=result.foodNames%></td>
                            <td><%=result.foodQuantity%></td>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <form method="POST" action ="/home">
                    <button>Back</button>
                </form>
            </div>
        </div>
    </div>
    <label id="usernameLabel" class="hideThese"><%=usernameValue%></label>
    <script>
        let userLabel = document.getElementById("usernameLabel");
        const username = userLabel.innerHTML; //this is so we know which user is currently on the page
        let forms = document.querySelectorAll('form');
        [...forms].forEach((val, index)=>{
            let newInput = document.createElement("input"); 
            newInput.setAttribute('type', 'text');
            newInput.setAttribute('value', username);
            newInput.setAttribute('class', "hideThese");
            newInput.setAttribute('name', 'currentUser');
            val.appendChild(newInput)
        })
    </script>
</body>
</html>